@model Eogrenme.Areas.Admin.ViewModels.AdminIndex

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr id="@user.Id">
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@String.Join(", ", user.Roles.Select(p => p.Name))</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("edit",new { user.Id })" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>
                        <a href="@Url.Action("resetpassword",new { user.Id })" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-lock"></i>
                            Reset Password
                        </a>
                        <a class="btn btn-xs btn-primary" onclick="KullaniciSil(@user.Id)">
                            <i class="glyphicon glyphicon-remove"></i>
                            Delete
                        </a>

                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts {
    <script>
        function KullaniciSil(KullaniciID) {
            if (confirm("Kullanıcı Silinsin mi ?")) {

        $.ajax({
        type: "POST",
                    url: "Admin/Delete",
                    data: { id: KullaniciID },
                    success: function (data) {
                        if (data == "True") {
                            $("#tr_" + KullaniciID).remove();
                           alert(KullaniciID+" numaralı Id başarıyla silindi...");
        $("#message").append("<div class='alert alert-info'><strong></strong>Kayıt başarıyla silindi </div>")
                        }
                        else {
                           alert("Hata");

                        }
                    }
                });
            }
        }
    </script>

}
